.clock-day:before {
  content: var(--timer-day);
}

.clock-hours:before {
  content: var(--timer-hours);
}

.clock-minutes:before {
  content: var(--timer-minutes);
}

.clock-seconds:before {
  content: var(--timer-seconds);
}

#map {
  height: 500px;
}

body {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  font-family: 'Montserrat', 'sans-serif';
  min-height: 100vh;
}

.clock-container {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #080808;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  padding: 60px 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
  display: flex;
}

.clock-col {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 90px;
  position: relative;
}

.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -42px;
}

.clock-col:not(:last-child):before {
  top: 35%;
}

.clock-col:not(:last-child):after {
  top: 50%;
}

.clock-timer:before {
  color: #fff;
  font-size: 4.2rem;
  text-transform: uppercase;
}

.clock-label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  font-size: .7rem;
  margin-top: 10px;
}

@media (max-width: 825px) {
  .clock-container {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .clock-col+.clock-col {
    margin-top: 20px;
  }
  .clock-col:before, .clock-col:after {
    display: none !important;
  }
}

.round-button {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  background: linear-gradient(45deg, #f18f88 0, #1870ed 100%);
  box-shadow: 0 0 3px gray;
  margin: 20px;
}

.round-button:hover {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
}

.round-button img {
  display: inline-block;
  width: 100%;
  padding: 12%;
  height: auto;
}

#temp_image {
  width: 100%;
  height: 70px;
  padding-bottom: 10px;
  padding: 0px;
  padding-top: 10px;
}